<%- include('../partials/header') %>

<h2>Search for a Movie!</h2>
<br>
<form action="/movies/search" method="GET">
  <input type="text" placeholder="movie" name="movie" />
  <button type="submit" class="btn">Search</button>
</form>
<br><br>
<div class="results">
  <% movies.forEach((movie) => { %>
    <div class="movie">
      <form action="/movies/details/<%= movie.id %>" method="GET">
        <% if (movie.poster_path) { %>
          <button type="submit"><img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" alt="<%= movie.title %>" class="poster" /></button>
        <% } else { %>
          <img src="https://otv.one/uploads/default_image/thumbnail.jpg" alt="No Poster Available" class="poster" />
        <% } %>
      </form>
      <h3><%= movie.title %></h3>
      <form action="/movies/details/<%= movie.id %>" method="GET">
        <button type="submit" class="btn">View Details</button>
      </form>
    </div>
    <br>
  <% }) %>
</div>

<%- include('../partials/footer') %>
